video {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg); /* Safari and Chrome */
  -moz-transform: rotateY(0deg); /* Firefox */
}

input[type="checkbox"]:checked + video {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}
